.modal {
  position: fixed;
  @include insert;
  @include opacity(false);
  transition: $primary-transition;
  background-color: $opacity-color-100;

  &.active {
    @include opacity(true);
  }

  &.primary {
    @include flex-center-center;

    .modal-content {
      @include flex-center-center;
      position: relative;
      width: 100%;
      height: 100vh;
      padding: 20px;
      background-color: $neutral-color-800;

      text-align: center;

      >div {
        @include max-width(480px, true);
      }

      h2 {
        font-size: 1rem;
        font-weight: normal;
        color: $neutral-color-100;

        &.random-word {
          user-select: none;
          cursor: pointer;
        }
      }

      hr {
        border: 0px;
        height: 0px;
        transition: margin-bottom 0.2s;
      }

      h3 {
        @include max-width(678px, true);
        position: absolute;
        left: 0;
        right: 0;
        user-select: none;
        font-size: 1.25rem;
        font-weight: normal;
        color: $neutral-color-100;
        height: 96px;
        overflow: hidden;

        span {
          line-height: 24px;

          &.active {
            color: #1ee9b6;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 96px;
          background: rgb(255, 255, 255);
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(21, 21, 21, 1) 100%);
        }
      }
    }

    .close {
      $dimention: 20px;

      position: absolute;
      top: $dimention;
      right: $dimention;
      @include square($dimention);
      cursor: pointer;
      border: none;
      background-color: $transparent-color;
      @include background-image(pathImages("close.svg"));

      &:hover,
      &:focus {
        opacity: 0.6;
        transition: $primary-transition;
      }
    }
  }

  &.secondary {
    .modal-content {
      display: flex;
      flex-direction: column;
      $content-width: 480px;
      @include max-width($content-width);
      margin-right: -100%;
      margin-left: auto;
      height: 100vh;
      padding: 20px;
      background-color: $neutral-color-100;
      transition: margin-right $primary-transition;
    }

    &.active .modal-content {
      margin-right: 0px;
    }

    $section-margin-bottom: 20px;

    .modal-header {
      @include flex-center-between;
      margin-bottom: $section-margin-bottom;

      .close {
        @include square(20px);
        cursor: pointer;
        border: none;
        background-color: $transparent-color;
        @include background-image(pathImages("close.svg"));

        &:hover,
        &:focus {
          opacity: 0.6;
          transition: $primary-transition;
        }
      }
    }

    .modal-body {
      overflow-y: auto;
      margin-bottom: $section-margin-bottom;
    }
  }
}