.box {
  @include flex-center-center;
  min-height: 100vh;
  padding: 16px;

  .box-container {
    width: 100%;
    max-width: 312px;
    color: $neutral-color-100;
  }

  .main-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h2.random-words {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
  }

  h3.random-words {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
  }

  .bar-time {
    width: 0px;
    height: 2px;
    background-color: $primary-color-500;
    z-index: 1;
    margin-top: -2px;
  }

  .bar-time-background {
    height: 2px;
    background-color: $neutral-color-200;
  }

  .interface {
    @include flex-align-center;
    gap: 1rem;

    .row {
      width: fit-content;
      margin-bottom: 0;
    }

    .label {
      font-size: 14px !important;
    }

    .input {
      font-size: 14px;
      width: 100px;
    }
  }
}

@keyframes widthLeftRight {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}